-
	var db_array = [
		{
			id: 'html',
			title: 'HTML5',
			checked: true
		},
		{
			id: 'css',
			title: 'CSS3',
			checked: true
		},
		{
			id: 'bem',
			title: 'БЭМ',
			checked: true
		},
		{
			id: 'sass',
			title: 'SASS',
			checked: true
		},
		{
			id: 'less',
			title: 'LESS',
			checked: true
		},
		{
			id: 'gulp',
			title: 'GULP',
			checked: true
		},
		{
			id: 'js',
			title: 'VanillaJS',
			checked: true
		},
		{
			id: 'angular',
			title: 'ANGULAR',
			checked: false
		},
		{
			id: 'jquery',
			title: 'JQUERY',
			checked: true
		},
		{
			id: 'git',
			title: 'GIT',
			checked: true
		},
		{
			id: 'fundation',
			title: 'FUNDATION',
			checked: true
		},
		{
			id: 'bootstrap',
			title: 'BOOTSTRAP'
		}
		]
	var infolines = [
		{
			title: 'Имя',
			data: 'Дмитрий Романчук'
		},
		{
			title: 'Дата рождения',
			data: '16/09/1981'
		},
		{
			title: 'Город',
			data: 'Wrocław, Poland'
		},
		{
			title: 'Контактные данные',
			data: '+48575357646 / t.me/dimasis/ '
		}
	]