-
		var db_array = [
		{
			id: 'html',
			title: 'HTML5'
		},
		{
			id: 'css',
			title: 'CSS3'
		},
		{
			id: 'bem',
			title: 'БЭМ'
		},
		{
			id: 'sass',
			title: 'SASS'
		},
		{
			id: 'less',
			title: 'LESS'
		},
		{
			id: 'gulp',
			title: 'GULP'
		},
		{
			id: 'js',
			title: 'VanillaJS'
		},
		{
			id: 'angular',
			title: 'ANGULAR'
		},
		{
			id: 'jquery',
			title: 'JQUERY'
		},
		{
			id: 'git',
			title: 'GIT'
		},
		{
			id: 'fundation',
			title: 'FUNDATION'
		},
		{
			id: 'bootstrap',
			title: 'BOOTSTRAP'
		}
		]
-   infolines = ['Имя', 'Дата рождения', 'Город', 'Контактные данные']