.skills {
	.header__section {
		margin-bottom: 17px;
	}

	&__list {
		column-count: 4;

		@media screen and (max-width: 640px) {
			column-count: 3;
		}

		@media screen and (max-width: 400px) {
			column-count: 2;
		}
	}

	&__item {
		margin-bottom: 40px;
		width: 100%;

		&:hover {
			cursor: pointer;
		}
	}
}

.checkbox {
	position: absolute;
	left: -1000px;

	&__fake {
		@include sprite("checkbox");

		margin: 8px;
		width: 19px;
		height: 19px;
	}

	&__text {
		font-family: $font-family-roboto;
		font-weight: 500;
		font-size: $font-size-text;
		line-height: 22.008px;
		text-align: left;
		text-transform: uppercase;
		color: $color-dovegray;
	}
}

.checked {
	@include sprite("checked");
}