// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$color-text: #666666;
$color-header: #010101;

$color-background:#f0f0f0;



// FONTS
$font-family-roboto: 'Roboto', sans-serif;

$font-size-text: 12px;
$font-size-header: 18px;