// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #010101;
$color-white: #fff;
$color-blue: #0093d7;
$color-dovegray: #666;
$color-gallery: #f0f0f0;

// FONTS
$font-family-roboto: "Roboto", sans-serif;
$font-size-text: 12px;
$font-size-header: 18px;